<div id="<%= dom_id friend %>">
  <td>
  <p>
    <%= link_to friend.first_name + " " + friend.last_name, friend %>
  </p>
</td>
<td>
  <p>
    <%= friend.email %>
  </p>
</td>
<td>
  <p>
    <%= friend.phone %>
  </p>
</td>
<td>
  <p>
    <%= friend.user_id %>
  </p>
</td>
</div>
